@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "new-york";
    src: url("/fonts/NewYork PERSONAL USE.otf");
}

.font-display{
    font-family: "new-york";
}
.image-hover{
    transition: all 2s ease-in-out;
    &:hover{
        transform: scale(1.4);
    }
}
.enter-btn{
    // center on the screen
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // center on the screen
}
a{
    color:
    // tailwind orange 500
    #F9731C;
    ;
}